<div class="motor-bsqueda">
  <div class="homeindicator">
    <div class="home-indicator1" ></div>
  </div>
  <b class="motor-de-bsqueda">MOTOR DE BÚSQUEDA</b>
  <b class="resultados">03 resultados</b>
  <div class="campo-grande">
    <div class="ttulo">Título</div>
    <div class="campo">
      <img class="search-icon" alt="" src="/search.svg" />
      <input
        class="buscar-libro"
        placeholder="Buscar libro"
        type="text"
      />
    </div>
  </div>
  <div class="group-parent">
    <div class="botn-secundario-parent">
      <div class="botn-secundario">
        <div class="botn1">1</div>
      </div>
      <div class="botn-secundario1">
        <div class="botn1">2</div>
      </div>
      <div class="botn-secundario2">
        <div class="botn1">3</div>
      </div>
    </div>
    <img class="chevron-left-icon" alt="" src="/chevron-left.svg" />
    <img class="chevron-left-icon1" alt="" src="/chevron-left.svg" />
  </div>
  <b class="de-33">1 de 33</b>
  <div class="rectangle-parent">
    <div class="group-child"></div>
    <b class="titulo-libro">Titulo Libro</b>
    <div class="group-item"></div>
    <div class="autor">Autor</div>
    <img class="home-icon" alt="" src="/chevron-left.svg" />
  </div>
  <div class="rectangle-group">
    <div class="group-child"></div>
    <b class="titulo-libro">Titulo Libro</b>
    <div class="ellipse-div" ></div>
    <div class="autor">Autor</div>
    <img class="home-icon" alt="" src="/chevron-left.svg" />
  </div>
  <div class="rectangle-container">
    <div class="group-child"></div>
    <b class="titulo-libro">Titulo Libro</b>
    <div class="group-child1"></div>
    <div class="autor">Autor</div>
    <img class="home-icon" alt="" src="/chevron-left.svg" />
  </div>
  <button class="botn-secundario3">
    <b class="buscar">Buscar</b>
  </button>
</div>